/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --main-font: "IBM Plex mono", monospace;
  --text-size: 18px;
  --main-padding: 10px;
}