/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --accent-color: #FF0070;
  --hover-border: rgba(255, 0, 112, 0.4);
  --bg-color: #000028;
  --bg-image: url(../images/cover-image-dark.png);
  --title-color: #DB00FF;
  --title-decor-color: #000028;
  --decor-color:#FF0070;
  --text-color: #F1B2CE;
  --main-font: "IBM Plex mono", Courier, monospace;
  --text-size: 18px;
  --indent: clamp(10px, 2.6vi, 20px);
  --display-rec: block;
  --desktop-accent: #FF0070;
}